<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div id="app">
    
    <div class="frente">
<div class="funçoes">
    <div class="ini">
        <h2>Lista de pedidos</h2>
    <input type="text" class="input" v-model="search"  placeholder="search" ><i class="bi bi-search"></i>

    </div>
    <button class="bts" >NOTIFICAÇÃO PELO APP </button>
    <button class="bts">E-MAIL MARKETING </button>
    <button class="bts sms">SMS</button>
    <button class="bts">BAIXAR COMO CSV</button>
    
    <select class="option" v-model="selectedCategory" >
    <option value="All" >All</option>
	<option value="Cancelado" >Cancelado</option>
      <option value="Entrege">Entrege</option>
      <option value="Em andamento">Em andamento</option>
      <option value="A caminho">A caminho</option>
      <option value="Em preparo">Em preparo</option>
		</select>
</div>
<div class="testLista">
 <table class="table table-striped table-hover">
     <thead>
         <tr>
             
             <th>id</th>
             <th>Numero de pedido</th>
             <th>Nome</th>
             <th>Situação</th>
             <th>Valor Total</th>
         </tr>
     </thead>
     <tbody>
         <tr v-for="item  in filteredCenters">
            <td><input type="checkbox" value="All"></td>
             <td>{{item.pedido}}</td>
             <td >{{item.cliente}}</td>
             <td>{{item.situacão}}</td>
             <td>{{item.total}}</td>
             

         </tr>
     </tbody>
 </table>

 
</div>  
</div>
</div>
 <style>

     .escondido{
         display: none;
     }
     .ver {
         display: block;
     }
     h2{
         font-size: 20px;
         margin: auto;
     }
     #app{
         background-color: #A3DDED;
         text-align: center;
         height: 100vh;
         width: 100%;
         position: absolute;
     }
     .funçoes{
         display: flex;
         justify-content: space-between;
     }
     input{
         height: 25px;
        margin: auto;
       margin-left: 20px;
         border-radius: 50px;
         padding: 10px;
         
         
     }
     .bts{
         font-size: 10px;
         width: 150px;
         height: 30px;
         border-radius: 40px;
        margin: auto;
        background-color: #ddedf1;
     }
      .sms{
         width: 70px;
     }
     .bts:hover{
         background-color:  #A3DDED;
     }
     .ini{
         display: flex;
     }
     .frente{
         background-color: rgb(240, 240, 240);
         width: 1200px;
         margin: auto;
         padding: 20px;
         margin-top: 50px;
         
     }
  
 </style>

<script>
const app = new Vue ({
    el: '#app',
    data: {
        search: '',
       
        items: [    
      {id: 1, pedido: 1, cliente: 'Ana Beatriz', situacão: 'Em andamento', total: 200, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },         
    {id: 2, pedido: 2, cliente: 'Paulo', situacão: 'Cancelado', total: 20, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 3, pedido: 3, cliente: 'Abraão', situacão: 'A caminho', total: 50, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 4, pedido: 4, cliente: 'Franciele', situacão: 'Em preparo', total: 100,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },  
    {id: 5, pedido: 5, cliente: 'julia', situacão: 'Em preparo', total: 80,lista: ['pizza de calabresa', 'guaranar coca 1L' ] }, 
    {id: 6, pedido: 6, cliente: 'Cibelle', situacão: 'Em andamento', total: 56,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 7, pedido: 17, cliente: 'Izabele', situacão: 'Em andamento', total: 77,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 8, pedido: 18, cliente: 'Maria', situacão: 'Cancelado', total: 78,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 9, pedido: 19, cliente: 'Fernando', situacão: 'Em andamento', total: 34,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },    
    {id: 10, pedido: 133, cliente: 'Clara', situacão: 'Entrege', total: 25,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 11, pedido: 145, cliente: 'Aline', situacão: 'Cancelado', total: 76,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 11, pedido: 1666, cliente: 'Jose', situacão: 'Entrege', total: 45,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 12, pedido: 111, cliente: 'Felipe', situacão: 'A caminho', total: 34,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 13, pedido: 134, cliente: 'Bruna', situacão: 'Em preparo', total: 67,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 14, pedido: 145, cliente: 'Tamires', situacão: 'Em andamento', total:87,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 15, pedido: 16, cliente: 'Joana', situacão: 'Em preparo', total: 287,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 16, pedido: 188, cliente: 'Luiza', situacão: 'Em andamento', total: 100, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 17, pedido: 199, cliente: 'Marcos', situacão: 'Entrege', total: 45, lista: ['pizza de calabresa', 'guaranar coca 1L' ]},
    {id: 1, pedido: 1, cliente: 'Ana Beatriz', situacão: 'Em andamento', total: 200,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },         
    {id: 2, pedido: 2, cliente: 'Paulo', situacão: 'Cancelado', total: 20, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 3, pedido: 3, cliente: 'Abraão', situacão: 'A caminho', total: 50,lista: ['pizza de calabresa', 'guaranar coca 1L' ] },   
    {id: 4, pedido: 4, cliente: 'Franciele', situacão: 'Em preparo', total: 100, lista: ['pizza de calabresa', 'guaranar coca 1L' ]},  
    {id: 5, pedido: 5, cliente: 'julia', situacão: 'Em preparo', total: 80,lista: ['pizza de calabresa', 'guaranar coca 1L' ] }, 
    {id: 6, pedido: 6, cliente: 'Cibelle', situacão: 'Em andamento', total: 56, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 7, pedido: 17, cliente: 'Izabele', situacão: 'Em andamento', total: 77, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 8, pedido: 18, cliente: 'Maria', situacão: 'Cancelado', total: 78, lista: ['pizza de calabresa', 'guaranar coca 1L' ] },
    {id: 9, pedido: 19, cliente: 'Fernando', situacão: 'Em andamento', total: 34, lista: ['pizza de calabresa', 'guaranar coca 1L' ] }, 
    ],
    selectedCategory: "All",
    },
   
       
      

    computed: {
     
   

		filteredCenters: function() {
			var vm = this;
            var category = vm.selectedCategory;
			if(category === "All") {
				return  this.items.filter(item => {
                return item.cliente.toLowerCase().includes(this.search.toLowerCase()) || item.situacão.toLowerCase().includes(this.search.toLowerCase()) 
            })
			} else {
				return vm.items.filter(function(item) {
					return item.situacão === category;
				});
			}
		}
	},
})

</script>