<script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
<div id="app">
  <div v-for="(ppl, index ) in pplShown">{{ ppl.name }}</div>
  <button @click="navigateToPrevious()"> << </button>
  <button class="btn-pagenum"
          :class="{ 'btn-pagenum--active' : isActive(page) }"
          v-for="page in pageNum"
          @click.capture="navigateTo(page)">{{ page }}</button>
  <button @click="navigateToNext()"> >> </button>
</div>

<script>
 var app = new Vue({
  el: "#app",
  data() {
    return {
      ppl: [
        { name: 'a' },
        { name: 'b' },
        { name: 'c' },
        { name: 'd' },
        { name: 'e' },
        { name: 'f' },
        { name: 'a' },
        { name: 'b' },
        { name: 'c' },
        { name: 'd' },
        { name: 'e' },
        { name: 'f' },
        { name: 'a' },
      ],
      currentPage: 1,
      dataPerPage: 5
    };
  },
  computed: {
    pageNum() {
      return Math.ceil(this.ppl.length / this.dataPerPage)
    },
    pplShown() {
      return this.ppl.slice((this.currentPage - 1) * this.dataPerPage, this.currentPage * this.dataPerPage)
    }
  },
  methods: {
    navigateTo(num) {
      this.currentPage = num
    },
    navigateToNext() {
      if (this.currentPage === this.pageNum) return
      this.currentPage ++
    },
    navigateToPrevious() {
      if (this.currentPage === 1) return
      this.currentPage --
    },
    isActive(page) {
      return this.currentPage === page ? true : false
    }
  }
});


</script>